@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

:root {
  --main-color: cadetblue;
  --secondary-color: white;
  --win-color: green;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Press Start 2P", sans-serif;
  background-color: var(--secondary-color);
  color: var(--main-color);
}

/* Button */

button {
  padding: 2rem 3rem;
  font-size: 1.5rem;
  font-family: inherit;
  background-color: var(--main-color);
  color: var(--secondary-color);
  border: 0.2rem solid var(--main-color);
  border-radius: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border 0.3s, border-style 0.3s, border-color 0.3s;
}

button:hover {
  background-color: var(--secondary-color);
  color: var(--main-color);
}

button:active {
  opacity: 0.5;
}

/* Remove arrows for the input with type 'number' */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* Header */

header {
  position: relative;
  height: 42vh;
  border-bottom: 0.7rem solid var(--main-color);
}

header.win {
  border-bottom-color: var(--win-color);
}

nav {
  position: absolute;
  top: 2rem;
  left: 2rem;
  right: 2rem;
  display: flex;
  flex-direction: row;
}

.authorization-frame {
  margin-left: auto;
}

.authorization-frame--before-authorization {
  display: none;
}

.authorization-frame--before-authorization.active {
  display: inherit;
}

.authorization-frame--after-authorization {
  font-size: 2rem;
  color: var(--main-color);
  display: none;
  flex-direction: row;
}

.authorization-frame--after-authorization.active {
  display: flex;
}

.authorization-frame__logout-reference {
  color: var(--main-color);
}

.main-header {
  position: absolute;
  top: 40%;
  width: 100%;
  font-size: 2.2rem;
  text-align: center;
}

.secret-number {
  position: absolute;
  left: 50%;
  bottom: 0;
  padding: 3rem 4rem;
  text-align: center;
  font-size: 6rem;
  background-color: var(--main-color);
  color: var(--secondary-color);
  transform: translate(-50%, 50%);
}

.secret-number.win {
  background-color: var(--win-color);
}

/* Main */

main {
  position: relative;
  top: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: top;
}

.guess {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.guess__input {
  width: 15rem;
  margin-bottom: 1rem;
  padding: 2.5rem;
  text-align: center;
  font-family: inherit;
  font-size: 5rem;
  color: inherit;
  border: 0.2rem solid var(--main-color);
  outline: none;
}

.game-statistics {
  width: 40%;
  font-size: 2rem;
  color: var(--main-color);
}

.game-statistics__state {
  height: 3rem;
  margin-bottom: 4rem;
}

.game-statistics__attempts-count {
  margin-bottom: 2rem;
}

/* Popup */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}

.popup-form-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-form {
  width: 40rem;
  padding: 2.5rem;
  background: var(--secondary-color);
  opacity: 0;
  display: flex;
  flex-direction: column;
  transition: opacity 0.5s;
}

.popup-form.active {
  opacity: 1;
  pointer-events: all;
}

.popup-form__field {
  width: 100%;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column-reverse;
}

.popup-form__field__input.incorrect {
  border-color: red;
}

.popup-form input {
  height: 3.5rem;
  margin-bottom: 0.4rem;
  font-size: 1.8rem;
  border: none;
  border-bottom: 0.1rem solid #cfd0d3;
  outline: none;
}

.popup-form input:focus {
  border-bottom: 0.1rem solid var(--main-color);
}

.popup-form button {
  width: 100%;
  padding: 1.5rem;
}
